@import url(roboto/roboto.css);
@import url(roboto-slab/roboto-slab.css);

body {
    font-family: 'Roboto';
    font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
    font-weight: bold;
}
h1 {
    /* font-size: 3em; */
}
.remark-slide-content {
    background: #1f2939;
    background-color: #1f2939;
    color: #fff;
}
.remark-slide-content.nopadding {
    padding-left: 0;
    padding-right: 0;
}
.blackbg {
    background-color: #161616;
}
li {
    line-height: 1.5;
}
/* Hide these ugly slide numbers */
div.remark-slide-number {
    display: none;
}
.no-repeat {
    background-repeat: no-repeat;
}
/** Quote styles */
blockquote {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}
blockquote:before {
    font-family: serif;
    display: block;
    font-size: 300%;
    color: #ccc;
    content: "\201C";
    margin-left: -10%;
    height: 0;
}
